<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Audit_console.Config.io.Environments" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Audit_console.Logging.LogTypes" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Audit_console.Config.Logging.LogTypes" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Audit_console.Logging.LogTypes" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
    </startup>
  <appSettings>
    <!--<add key="DateTimeFormat" value="yyyy_mm_dd   Hh.m.ss"/> -->
  </appSettings>
  
  
  <applicationSettings>
    <Audit_console.Config.io.Environments>
      <setting name="DevSharePoint" serializeAs="String">
        <value>http://hymans-cim-dev.company-net.com</value>
      </setting>
      <setting name="IntSharePoint" serializeAs="String">
        <value>http://hymans-cim.company-net.com</value>
      </setting>
      <setting name="LiveSharePoint" serializeAs="String">
        <value>https://www.clients.hymans.co.uk/</value>
      </setting>
      <setting name="DevCrm" serializeAs="String">
        <value>http://cns-crmhymans16.company-net.com/HymansDev/XRMServices/2011/Organization.svc</value>
      </setting>
      <setting name="IntCrm" serializeAs="String">
        <value>http://cns-crmhymans16.company-net.com/CRMIntegration/XRMServices/2011/Organization.svc</value>
      </setting>
      <setting name="LiveCrm" serializeAs="String">
        <value>https://crm.hymans.co.uk/hymansrobertson/XRMservices/2011/Organization.svc</value>
      </setting>
      <setting name="Environment" serializeAs="String">
        <!-- Values: dev/int/live-->
        <value>dev</value>
      </setting>
    </Audit_console.Config.io.Environments>
    
    
    
    
    <Audit_console.Logging.LogTypes>
      <setting name="ErrorUnhandledException" serializeAs="String">
        <value>[General] Unhandled Exception</value>
      </setting>
    </Audit_console.Logging.LogTypes>
    <Audit_console.Config.Logging.LogTypes>
      <setting name="UnhandledException" serializeAs="String">
        <value>[General] Unhandled Exception</value>
      </setting>
    </Audit_console.Config.Logging.LogTypes>
  </applicationSettings>
  <userSettings>
    <Audit_console.Logging.LogTypes>
      <setting name="LogConfigIo" serializeAs="String">
        <value>[General] Config.IO successfully ran</value>
      </setting>
      <setting name="LogConfigFailed" serializeAs="String">
        <value>[General] Log config failed</value>
      </setting>
    </Audit_console.Logging.LogTypes>
  </userSettings>
</configuration>
